@mixin visible() {
  visibility: visible;
  opacity: 1;

  transition: visibility 1s ease-in-out, opacity 1s ease-in-out;
}

@mixin invisible() {
  visibility: hidden;
  opacity: 0;
}

.page {
  width: 100%;
  max-width: 1920px;
  min-height: 100vh;

  background-color: #E2E8F0;

  font-family: Avenir, Arial, sans-serif ;
  font-size: 14px;
  font-weight: 600;
  color: #64748B;

  padding: 10px;
  margin: 0 auto;
}

.sidebar {
  width: 100%;
  height: 95vh;
  max-width: 210px;

  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;

  background-color: #ffffff;

  overflow: hidden;

  border-radius: 15px;

  padding: 16px;

  transition: max-width 1s ease-in-out;
}

.sidebar_narrow {
  max-width: 70px;
}

.sidebar__logo-section {
  width: 100%;

  display: flex;
  align-items: center;

  margin-bottom: 20px;
}

.sidebar__logo {
  width: 40px;
  height: 40px;
}

.sidebar__company-name {
  font-weight: 700;
  font-size: 22px;
  color: #FF9900;

  @include visible();
}

.sidebar__company-name_invisible {
  @include invisible();
}

.sidebar__fields {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 15px;

  list-style-type: none;
}

.sidebar__fields_margin-top {
  margin-top: 120px;
}

.sidebar__field {
  width: 100%;
  max-width: 178px;

  border-radius: 15px;
}

.sidebar__field:hover {
  cursor: pointer;
  .sidebar__field-link{
    color: #334155;
    background-color: #F1F5F9;
  }
}

.sidebar__field-link{
  width: 100%;
  height: 100%;

  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
  z-index: -1;

  color: inherit;
  text-decoration: none;

  background-color: transparent;
  border-radius: 15px;

  padding: 10px;

  transition: 0.3s background-color ease-in-out;
}

.sidebar__field-link_active {
  background-color: #F0F2FF;
  color: #0023C4;
}

.sidebar__field-icon {
  width: 16px;
  height: 16px;
}

.sidebar__field-text {
  @include visible();
}

.sidebar__field-text_invisible {
  @include invisible();
}

.sidebar__button {
  width: 25px;
  height: 25px;

  position: absolute;
  left: 208px;
  top: 34px;
  z-index: 2;

  background-color: #E2E8F0;
  background-image: url("../assets/loon-icon-left.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 6px 6px;

  border-radius: 100px;
  border: none;

  padding: 0;

  transition: background 0.1s ease-in-out, left 1s ease-in-out;
}

.sidebar__button_inactive {
  left: 90px;

  background-color: #FFFFFF;
  background-image: url("../assets/loon-icon-right.svg");
}

.sidebar__button:hover{
  cursor: pointer;
}
